 /*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');*/
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 hr{margin: 5px 0 5px 0 !important;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 15px 8px;}
.datepicker{margin-bottom: 0px !important;}
.form-control[readonly]{color:#2C3E50 !important;}
.product th .form-group, .product th .form-group input{color: #eb3900 !important;}
.product>table>tbody>tr>td, .product>table>tbody>tr>th, .product>table>tfoot>tr>td, .product>table>tfoot>tr>th, .product>table>thead>tr>td, .product>thead>tr>th {
    padding: 8px 8px;}

.navbar-top-links > li > a{font-size: 15px; font-family: 'Oswald', sans-serif; color:#777777 !important; text-transform: uppercase; letter-spacing: 0px; font-weight:300;}
.bg-title h4 {font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 22px}

#msform input, #msform textarea, #eliteregister li:before{
  font-size: 14px !important;
  font-family:Poppins,sans-serif !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color:#eceeef;
}

.navbar-header{background: #fff !important;}

#side-menu > li > a.active i{
  color:#00dee4 !important;
}
#side-menu > li > a.active{
  border-left: 3px solid #00dee4 !important;
}
a.btn{
  color:#fff;
}

.btn-icon{text-align: center;box-shadow: 3px 3px 7px #999;padding: 5px;width: 120px;}
.btn-icon:hover{box-shadow: 1px 1px 1px 1px #999;padding: 5px;width: 120px;}
.login-box{margin: 2% auto 0;}
.login-register{display: flex;align-items: center;}
.register-box{max-width: 100%;}
#side-menu li.active>a{
  background: rgba(0,0,0,0.12);
}
@media (min-width: 768px){
  .sidebar .nav-second-level{
    background: #eaeaea;

  }
}

#side-menu ul > li > a.active{
   color:#dc1a12 !important;
}

.tabs-vertical li.active a, .tabs-vertical li.active a:hover, .tabs-vertical li.active a:focus{background: #ff6849 !important; border-right: 2px solid #ff6849 !important;}
input[type="radio"]{margin: 4px 4px;}

.btn-login, .btn-download{background: #d33;border: 1px solid #d33;}
